<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.peliculas" >

    <!-- dona permis per accedir a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- aixó es la configuració de la preferencia que hem afegit amb el settingActivity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.peliculas.MainActivity" />
        </activity>
        <!-- configuració que es posa al crear la activity indicant quin es el seu pare -->
        <activity
            android:name=".MovieDetall"
            android:label="@string/title_activity_movie_detaill"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.peliculas.MainActivity" />
        </activity>
        <!-- comentari que es genera automaticament amb el generate content provider -->
        <provider
            android:name="com.example.david.peliculas.provider.PeliculasProvider"
            android:authorities="com.example.david.peliculas.provider"
            android:exported="false" />

    </application>

</manifest>
